.list-group-item {
  line-height: 2.5;
}
.scenario-input-labels {
  font-weight: bold;
  font-size: 18px;
}
#ExtendSim-header {
  background-image:url(https://extendsim.com/templates/extendsim/images/ES_logo.gif);
  background-repeat:no-repeat;
  float:left;
  height:98px;
  width:510px;
}
#drop-area {
  text-align: center;
  height: 200px;
  width: 100%;
  border: 2px solid gray;
}